@media(min-width:1200px){
    .moble{
        display: none;
    }
}

@media(max-width:1100px){
    .desktop{
        display: none;
    }
}

.heading{
    width: 100%;
    display: flex;
    background-color: black;
}

.head1{
    width: 60%;
}

.head1 h1{
    margin-right: 5%;
    margin-left: 5%;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.head2 ul{
    display: flex;
    background-color: black;
}

ul li a{
    text-decoration: none;
    color: white;
}

.head2 ul li{
    display: inline;
    font-size: 150%;
    width: 60%;
    padding-left: 5%;
}

.head3{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 15%;
}

.big{
    background-image: url(images/p1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 15%;
    text-align: center;
}

.big h3{
    font-size: 130%;
    border: white 1px solid;
    margin-left: 40%;
    margin-right: 40%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 25px;
    background-color: black;
    color: white;
}


.part{
    width: 100%;
    background-color: white;
}

.part1{
    text-align: center;
}

.part .part2{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.part .part2 .part2a{
    background-image: url(images/a.jpg);
    background-size: cover;
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
    color: white;
}

.part .part2 .part2b{
    background-image: url(images/d.jpg);
    background-size: cover;
    text-align: center;
    margin: 3%;
    padding-top: 3%;
    color: white;
}

.part .part2 .part2c{
    background-image: url(images/e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 3%;
    color: white;
}

.part .part2 .part2d{
    background-image: url(images/R.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 3%;
    padding-top: 3%;
    color: white;

}

.next{
    font-size: 150%;
    border: white 1px solid;
    margin-left: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 20px;
    background-color: black;
    color: white;
    
}

.next2{
    font-size: 200%;
    text-align: left;
    border-radius: 1px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 15px;
    background-color: white;

}

.navi{
    text-align: center;
    font-size: 150%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navi2 .navi2a{
    font-size: 130%;
    border: white 1px solid;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: gray;
    color: white;
    border-radius: 20px;

}

.navi2 .navi2b{
    font-size: 130%;
    border: white 1px solid;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: gray;
    color: white;
    border-radius: 20px;
}

.navi2 .navi2c{
    font-size: 130%;
    border: white 1px solid;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 4%;
    background-color: gray;
    color: white;
    border-radius: 20px;
}

.navi2 .navi2d{
    font-size: 130%;
    border: white 1px solid;
    margin-left: 40%;
    margin-right: 40%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 25px;
    background-color: blue;
    color: white;
    text-align: center;
}

.navi3{
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: gray;
}

.navi3 .navi3i{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
    
}

.navi3 .navi3ii{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
}

.navi3 .navi3iv{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
}

.navi3 .navi3v{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
}

.small{
    text-align: center;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}

.size{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.size .size1{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
}

.size .size2{
    text-align: center;
    margin: 3%;
    padding-top: 3%;
}

.size .size3{
    text-align: center;
    padding-top: 3%;
}

.size .size4{
    text-align: center;
    margin: 3%;
    padding-top: 3%;

}


.size5{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-top: 0;
}

.size5 .sizea{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
}

.size5 .sizeb{
    text-align: center;
    margin: 3%;
    padding-top: 3%;
}

.size5 .sizec{
    text-align: center;
    padding-top: 3%;
}

.size5 .sized{
    text-align: center;
    margin: 3%;
    padding-top: 3%;

}

.size6{
    text-align: center;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;

}

.bot{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.bot .bot1{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
}

.bot .bot2{
    text-align: center;
    margin: 3%;
    padding-top: 3%;
}

.bot .bot3{
    text-align: center;
    padding-top: 3%;
}

.back1{
    align-items: center;
    justify-content: center;
    padding-left: 7%;
}

.back2{
    align-items: center;
    justify-content: center;
    display: flex;
}

.end{
    text-align: center;
    font-size: 50%;
    font-family: 'Times New Roman', Times, serif;
}

.use{
    width: 100%;
    display: flex;
    
}

.use .use1{
    width: 50%;
    background-color: rgb(43, 42, 42);

}

.use .use2{
    width: 50%;
    background-color: rgb(43, 42, 42);
    color: white;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    font-family: 'Times New Roman', Times, serif;
}

.usea{
    text-align: center;
    background-color: grey;

}

.usea .usea1{
    padding-top: 2%;
    padding-bottom: 2%;
}

.usea h3{
    font-size: 130%;
    border: white 1px solid;
    margin-left: 40%;
    margin-right: 40%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 25px;
    background-color: rgb(51, 51, 51);
    color: white;
}

.nextmob{
    background-image: url(images/p1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 5%;
    text-align: center;
    padding-top: 30%;
}

.nextmob h3{
    font-size: 30%;
    border: white 1px solid;
    margin-left: 40%;
    margin-right: 40%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 25px;
    background-color: black;
    color: white;

}

.nextmob1{
    text-align: center;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nextmob2{
    text-align: center;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nextmob3{
    align-items: center;
    justify-content: center;
    padding-left: 7%;
}

.nextmob4{
    align-items: center;
    justify-content: center;
    display: flex;
}

.mob1{
    text-align: center;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 15%;
}

.mob2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: gray;
}

.mob2a{
    font-size: 50%;
    border: white 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: gray;
    color: white;
    border-radius: 20px;
}

.mob2b{
    font-size: 50%;
    border: white 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: gray;
    color: white;
    border-radius: 20px;
}

.mob2c{
    font-size: 70%;
    border: white 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: gray;
    color: white;
    border-radius: 20px;
}

.mob2d h3{
    font-size: 45%;
    border: white 1px solid;
    margin-left: 40%;
    margin-right: 40%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

.mob3{
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: gray;
    font-size: 40%;
}

.mob3 .mob3a{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
    
}

.mob3 .mob3b{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
}

.mob3 .mob3c{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
}

.mob3 .mob3d{
    text-align: center;
    border-inline: 10%;
    margin: 3%;
    padding-top: 3%;
}

.num h2{
    font-size: 80%;
    border: white 1px solid;
    margin-left: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.num2{
    font-size: 150%;
    text-align: left;
    border-radius: 1px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    border-radius: 15px;
    background-color: white;

}

.int{
    width: 100%;
    background-color: white;

}

.int1{
    text-align: center;
    padding-top: 15%;
}

.int .int2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 40%;
}

.int .int2 .int2a{
    background-image: url(images/a.jpg);
    background-size: cover;
    text-align: center;
    border-inline: 10%;
    padding-top: 2%;
    color: white;
}

.int .int2 .int2b{
    background-image: url(images/d.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 2%;
    color: white;
}

.int .int2 .int2c{
    background-image: url(images/e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 2%;
    padding-top: 3%;
    color: white;

}

.int .int2 .int2d{
    background-image: url(images/R.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 3%;
    padding-top: 3%;
    color: white;
    
}

.int3{
    width: 100%;
    display: flex;
}

.int3 .int3a{
    width: 50%;
    background-color: black;
    background-size: cover;
}

.int3 .int3c{
    width: 50%;
    background-color: black;
    color: white;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70%;
    
}

.inte{
    text-align: center;
    background-color: gray;
}

.inte h3{
    font-size: 130%;
    border: white 1px solid;
    margin-left: 40%;
    margin-right: 40%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 1.5%;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 70%;
}
